body {
	background-color: #000000;
	margin: 0px;
	padding: 0px;
}

canvas {
	position: relative;
	left: -50%;
	border: solid 5px #ffffff;
}

div {
	position: absolute;
	left: 50%;
	top: 50px;
}

#messiBtn {
	position: fixed;
	top: 100px;
}